<!DOCTYPE html>
<html ng-app="cetenApp">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title ng:bind-template="{{ '{{ title }}' }} | Boutique du Cercle des Élèves de TELECOM Nancy">Boutique du Cercle des Élèves de TELECOM Nancy</title>

        <link rel="icon" type="image/x-icon" href="{{ cdn('/assets/images/logo/ceten-icon-30x30.png') }}">

        <link rel="stylesheet" href="{{ cdn('/assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ cdn('/assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ cdn('/assets/css/ceten-services.css') }}">
        <link rel="stylesheet" href="{{ cdn('/assets/bower_components/ngDialog/css/ngDialog.min.css') }}">
        <link rel="stylesheet" href="/assets/css/popin.css">
        <link rel="stylesheet" href="/assets/css/nav.css">
        <link rel="stylesheet" href="/assets/css/shop.css">


        <script src="{{ cdn('/assets/js/jquery.min.js') }}"></script>
        <script>jQuery.noConflict();</script>
        <script src="{{ cdn('/assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ cdn('/assets/bower_components/angular/angular.min.js') }}"></script>
        <script src="{{ cdn('/assets/bower_components/angular-mocks/angular-mocks.js') }}"></script>
        <script src="{{ cdn('/assets/bower_components/angular-route/angular-route.min.js') }}"></script>
        <script src="{{ cdn('/assets/bower_components/ngDialog/js/ngDialog.min.js') }}"></script>
        <script>
            var ceten = {
                routePrefix: '{{ app.debug ? '/app_dev.php' : '' }}',
                member: {{ app.user.ceten is defined and app.user.ceten ?  'true' : 'false' }},
                cdnPrefix: '{{ cdn('') }}',
                cartCookie: '{{ cartCookie }}',
                maxOrder: {{ maxOrder }}
            };
        </script>
        <script src="/assets/js/ceten.js"></script>
        <script src="/assets/js/shop.js"></script>
        <script src="/assets/js/controllers.js"></script>
    </head>
    <body>
        <header class="main-header">
{% include 'CetenCetenBundle:Utils:services.html.twig' %}
            <div class="main-nav">
                <nav class="navbar navbar-default" role="navigation">
                    <div class="container-fluid">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#ceten-nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>

                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="{{ path('shop_index') }}" class="dropdown-toggle navbar-brand" data-toggle="dropdown">
                                        <img src="{{ cdn('/assets/images/logo/ceten-uni-78x30.png') }}" alt="" title="Cercle des Élèves de TELECOM Nancy" class="ceten-network-icon" >
                                    </a>
                                </li>
                            </ul>
                        </div>

                        <div class="collapse navbar-collapse" id="ceten-nav-collapse">
                            <ul class="nav navbar-nav navbar-right">
                                <li><a href="{{ path('shop_index') }}">Accueil</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories</a>
                                    <ul class="dropdown-menu" role="menu">
{% for tag in tags %}
                                        <li><a href="{{ path('shop_tag_slug', { slug: tag.slug }) }}">{{ tag.name }} ({{ tag.products|length }})</a></li>
{% endfor %}
                                    </ul>
                                </li>
                                <li><a href="{{ path('shop_cart_list') }}">Mon panier <span ng:bind-template="({{ '{{ ceten.sum(ceten.values(cart)) }}' }})"></span></a></li>
{% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="{{ path('shop_order_list') }}">Mes commandes</a></li>
{% endif %}
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </header>

        <div class="wrapper" ng-view></div>
    </body>
</html>