<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

        <title>{% block title %}| Cercles des Élèves de TELECOM Nancy{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ cdn('/assets/images/logo/ceten-icon-30x30.png') }}">

        <link rel="stylesheet" href="{{ cdn('/assets/css/reset.css') }}">
        <link rel="stylesheet" href="{{ cdn('/assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ cdn('/assets/css/ceten-services.css') }}">
        <link rel="stylesheet" href="/assets/css/oauth.css">
        {% block css %}{% endblock %}


        <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="{{ cdn('/assets/js/bootstrap.min.js') }}"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        <header class="main-header">
{% include 'CetenCetenBundle:Utils:services.html.twig' %}

            <div class="container-fluid">
                <img src="{{ cdn('/assets/images/logo/ceten-quadri-200x75.png') }}" alt="Cercles des Élèves de TELECOM Nancy" title="Cercles des Élèves de TELECOM Nancy" class="logo">
            </div>
        </header>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-md-6 col-md-offset-3">
{% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
